<table *ngIf="movies" mat-table [dataSource]="movies.results" class="mat-elevation-z8">
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>
  <ng-container matColumnDef="overview">
    <th mat-header-cell *matHeaderCellDef>Descripcion</th>
    <td mat-cell *matCellDef="let element"> {{element.overview}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="['title', 'overview']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['title', 'overview']"></tr>
</table>
